@import "tailwindcss";

:root {
  --neutral-light: #ffffff;
  --neutral-mid: #575757;
  --neutral-dark: #000000;

  --blue: #1f41ff;
  --water: #d0fbf9;
  --phlox: #d900ff;
  --electric-ultramarine: #2200ff;
}

@theme inline {
  --font-sans-sc: var(--font-encode-sans-semi-condensed);
  --font-sans-ex: var(--font-encode-sans-expanded);

  --color-neutral-light: var(--neutral-light);
  --color-neutral-mid: var(--neutral-mid);
  --color-neutral-dark: var(--neutral-dark);

  --color-brand-main: var(--blue);
  --color-brand-soft: var(--water);
  --color-brand-hot: var(--phlox);
  --color-brand-deep: var(--electric-ultramarine);

  --breakpoint-md: 50rem;
  --breakpoint-xl: 80rem; /* default */

  /* Headers */
  --text-h1: 7.875rem; /* 126px */
  --text-h1--line-height: 0.9em;
  --text-h1--letter-spacing: -0.02em;
  --text-h1--font-weight: 600;

  --text-h1-mono: 7.875rem; /* 126px */
  --text-h1-mono--line-height: 0.9em;
  --text-h1-mono--letter-spacing: -0.02em;
  --text-h1-mono--font-weight: 400;

  --text-h2: 2.5rem; /* 40px */
  --text-h2--line-height: 0.9em;
  --text-h2--letter-spacing: -0.06em;
  --text-h2--font-weight: 400;

  --text-h3: 2.3125rem; /* 37px */
  --text-h3--line-height: 1.1em;
  --text-h3--letter-spacing: -0.02em;
  --text-h3--font-weight: 600;

  --text-h4: 1.5rem; /* 24px */
  --text-h4--line-height: 1em;
  --text-h4--letter-spacing: -0.02em;
  --text-h4--font-weight: 600;

  --text-h5: 1.25rem; /* 20px */
  --text-h5--line-height: 0.9em;
  --text-h5--letter-spacing: -0.02em;
  --text-h5--font-weight: 400;

  /* Paragraphs */
  --text-p1: 2rem; /* 32px */
  --text-p1--line-height: 1.1em;
  --text-p1--letter-spacing: -0.02em;
  --text-p1--font-weight: 600;

  --text-p2: 1.875rem; /* 30px */
  --text-p2--line-height: 1.1em;
  --text-p2--letter-spacing: -0.02em;
  --text-p2--font-weight: 400;

  --text-p3: 1.0625rem; /* 17px */
  --text-p3--line-height: 1.2em;
  --text-p3--letter-spacing: -0.02em;
  --text-p3--font-weight: 400;

  --text-p4: 1rem; /* 16px */
  --text-p4--line-height: 1.1em;
  --text-p4--letter-spacing: -0.02em;
  --text-p4--font-weight: 400;

  --text-p5: 0.75rem; /* 12px */
  --text-p5--line-height: 1.37em;
  --text-p5--letter-spacing: -0.02em;
  --text-p5--font-weight: 400;

  /* Inline Text */
  --text-link: 1.125rem; /* 18px */
  --text-link--line-height: 1.1em;
  --text-link--letter-spacing: -0.02em;
  --text-link--font-weight: 400;

  --text-promo: 0.9375rem; /* 15px */
  --text-promo--line-height: 1.1em;
  --text-promo--letter-spacing: -0.02em;
  --text-promo--font-weight: 400;

  --text-btn: 0.8125rem; /* 13px */
  --text-btn--line-height: 0.9em;
  --text-btn--letter-spacing: -0.02em;
  --text-btn--font-weight: 400;
}

body {
  background: var(--neutral-light);
  color: var(--neutral-dark);
  font-family:
    var(--font-encode-sans-semi-condensed), Arial, Helvetica, sans-serif;

  /*background-color: darkgreen;*/
}
